* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Norse-Bold";
  src: url("fonts/Norse-Bold.woff2") format("woff2");
}

.content {
  position: relative;
}

body {
  display: flex;
  height: 100vh;
}

.main-images-container {
  flex: 1 1 0;
  width: 40%;
  position: relative;
}

.main-image {
    height: 100vh;
}

.main-image > img {
  width: 40vw;
  height: 100vh;
}

.logo-container {
  background-color: rgba(65, 65, 65, 0.5);
  padding: 0 20vw 0 20vw;
  position: absolute;
  width: 0px;
  top: 20%;
  left: 0;
  color: white;
}

.logo-image {
  position: relative;
  width: 100px;
  display: inline-block;
  left: -10vw;
  top: 3vh;
}

.logo-text {
  position: relative;
  font-size: 85px;
  width: 450px;
  left: -5vw;
  top: -5vh;
  margin: 0 30px;
  font-family: "Norse-Bold";
}

.sign-up-area {
  width: 60%;
  flex: auto;
  display: flex;
  flex-grow: 3;
  flex-direction: column;
  height: 100vh;
  margin: auto;
}

.call-to-action,
.sign-up-container,
.login-container {
  flex-grow: 1;
  margin-left: 50px;
  margin-right: 100px;
}

#create-account {
  width: 70%;
}

.photo-credit {
    height: 0;
    position: absolute;
    bottom: 3%;
    left: 3%;
    color: rgb(159, 157, 157);
}

.photo-credit a {
    color: white;
}